<ion-content class="ion-padding" color="secondary" color="primary">
 <p align="center">
   <img src="/assets/logo.png">
  </p>
  <h1 align="center">Selamat Datang di <b>UpSen</b></h1>
  <h2></h2>
  <ion-item color="secondary">
    <ion-label position="floating">
      <ion-icon name="person"></ion-icon>
      Nama Pengguna
    </ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item color="secondary">
    <ion-label position="floating">
      <ion-icon name="key"></ion-icon>
      Kata Sandi
    </ion-label>
    <ion-input></ion-input>
  </ion-item>
  <br>
  <ion-button [routerLink]="['/home']" expand="block" color="tertiary">MASUK</ion-button>
  <br><p align="center">Pastikan akun anda sudah terdaftar!</p>

</ion-content>