<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>UPSEN</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="secondary">
  <p align="center">
    <img src="/assets/logo.png">
  </p>
  <h1 align="center">Absen Sekarang</h1>
  <h2></h2>

  <ion-card>
    <ion-item>
      <ion-input placeholder="Jumlah Sesi" [(ngModel)]="qrData1">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Mata Kuliah" [(ngModel)]="qrData2">
        <ion-select-option value="ProyekAkhir1">Proyek Akhir 1</ion-select-option>
        <ion-select-option value="PemrogramanMobile">Pemrograman Mobile</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Kelas" [(ngModel)]="qrData3">
        <ion-select-option value="IF4AReguler">IF 4A Reguler</ion-select-option>
        <ion-select-option value="IF4BKaryawan">IF 4A Karyawan</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Isi Mata Kuliah" [(ngModel)]="qrData4">
      </ion-input>
    </ion-item>
  </ion-card>
  <!-- <ion-button expand="block" fill="outline" color="primary">Generate QR Code</ion-button> -->

  <ion-card *ngIf="qrData + qrData2 + qrData3 + qrData4">
    <ngx-qrcode [qrc-value]="qrData + qrData2 + qrData3 + qrData4" [qrc-element-type]="elementType" qrc-class="my-code">
    </ngx-qrcode>
  </ion-card>

</ion-content>